FIRST run: python create_results_dfs.py [--ensemble] [--datasets ...] <br>
This will create the results dataframes in OUTPUT_ROOT (usually: aggregated/...)

In [1]:
import os
import pandas as pd

OUTPUT_ROOT = "/home/space/diverse_priors/results_old/aggregated/" # !OLD results
ood_datasets = ["wds_imagenet-a","wds_imagenet-r","wds_imagenet_sketch","wds_imagenetv2"]

## Looking at individual results

In [2]:
dataset = ood_datasets[-1]
path = os.path.join(OUTPUT_ROOT, dataset+"/single_model/results_imagenet1k.pkl")
df = pd.read_pickle(path)

print(df.keys())

Index(['task', 'mode', 'dataset', 'feature_normalization', 'feature_alignment',
       'val_proportion', 'model_ids', 'model_source', 'fewshot_k',
       'fewshot_lr', 'fewshot_epochs', 'batch_size', 'seed', 'test_lp_acc1',
       'test_lp_acc5', 'test_lp_mean_per_class_recall', 'best_weight_decay'],
      dtype='object')

In [3]:
 df[df['test_lp_acc1'] == df['test_lp_acc1'].max()][["model_ids", "test_lp_acc1"]]

                                          model_ids  test_lp_acc1
9  "[\"deit3_large_patch16_224.fb_in22k_ft_in1k\"]"        0.7798

### Single model: Iterating over datasets

In [4]:
for ds in ood_datasets:
    path = path = os.path.join(OUTPUT_ROOT, ds+"/single_model/results_imagenet1k.pkl")
    df = pd.read_pickle(path)
    to_display=df[df['test_lp_acc1'] == df['test_lp_acc1'].max()][["model_ids", "test_lp_acc1"]]
    display(to_display)
    print(ds, to_display["model_ids"].iloc[0].replace('"','').replace('\\',''))

                                        model_ids  test_lp_acc1
1  "[\"OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"]"      0.735067

wds_imagenet-a [OpenCLIP_EVA02-L-14_merged2b_s4b_b131k]

                                         model_ids  test_lp_acc1
7  "[\"OpenCLIP_EVA01-g-14_laion400m_s11b_b41k\"]"      0.909733

wds_imagenet-r [OpenCLIP_EVA01-g-14_laion400m_s11b_b41k]

                                         model_ids  test_lp_acc1
7  "[\"OpenCLIP_EVA01-g-14_laion400m_s11b_b41k\"]"      0.661361

wds_imagenet_sketch [OpenCLIP_EVA01-g-14_laion400m_s11b_b41k]

                                          model_ids  test_lp_acc1
9  "[\"deit3_large_patch16_224.fb_in22k_ft_in1k\"]"        0.7798

wds_imagenetv2 [deit3_large_patch16_224.fb_in22k_ft_in1k]

## Looking at ensemble results

In [5]:
dataset = ood_datasets[-1]
path = os.path.join(OUTPUT_ROOT, dataset+"/combined_models/results_imagenet1k.pkl")
df = pd.read_pickle(path)

print(df.keys())

Index(['task', 'mode', 'combiner', 'dataset', 'feature_normalization',
       'feature_alignment', 'val_proportion', 'model_ids', 'model_source',
       'fewshot_k', 'fewshot_lr', 'fewshot_epochs', 'batch_size', 'seed',
       'test_lp_acc1', 'test_lp_acc5', 'test_lp_mean_per_class_recall',
       'n_models', 'n_samples', 'sampling_method', 'similarity_method',
       'num_clusters', 'clustering_method', 'cluster_id', 'cka_kernel',
       'cka_sigma', 'cka_unbiased', 'rsa_method', 'rsa_correlation', 'models',
       'sample_id'],
      dtype='object')

In [6]:
 df[df['test_lp_acc1'] == df['test_lp_acc1'].max()][["model_ids", "sampling_method", "test_lp_acc1"]]

,model_ids,sampling_method,test_lp_acc1
358,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996
359,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996
2206,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996
2207,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996

### Combined models: Iterating over datasets

In [8]:
for ds in ood_datasets:
    path = path = os.path.join(OUTPUT_ROOT, ds+"/combined_models/results_imagenet1k.pkl")
    df = pd.read_pickle(path)
    to_display=df[df['test_lp_acc1'] == df['test_lp_acc1'].max()][["model_ids", "sampling_method", "test_lp_acc1"]]
    display(to_display)
    print(ds, to_display["model_ids"].iloc[0].replace('"','').replace('\\',''))

,model_ids,sampling_method,test_lp_acc1
4140,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",one_cluster,0.7584
4143,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",one_cluster,0.7584

wds_imagenet-a [OpenCLIP_EVA02-L-14_merged2b_s4b_b131k, dinov2-vit-large-p14, swin_base_patch4_window7_224]

,model_ids,sampling_method,test_lp_acc1
1755,"""[\""OpenCLIP_EVA01-g-14_laion400m_s11b_b41k\"",...",one_cluster,0.8917
1862,"""[\""OpenCLIP_EVA01-g-14_laion400m_s11b_b41k\"",...",one_cluster,0.8917
3526,"""[\""OpenCLIP_EVA01-g-14_laion400m_s11b_b41k\"",...",one_cluster,0.8917

wds_imagenet-r [OpenCLIP_EVA01-g-14_laion400m_s11b_b41k, dinov2-vit-large-p14_gLocal, efficientnet_b4]

,model_ids,sampling_method,test_lp_acc1
4135,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",one_cluster,0.664957

wds_imagenet_sketch [OpenCLIP_EVA02-L-14_merged2b_s4b_b131k, dinov2-vit-large-p14, swin_base_patch4_window7_224]

,model_ids,sampling_method,test_lp_acc1
358,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996
359,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996
2206,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996
2207,"""[\""OpenCLIP_EVA02-L-14_merged2b_s4b_b131k\"", ...",top-k,0.7996

wds_imagenetv2 [OpenCLIP_EVA02-L-14_merged2b_s4b_b131k, convnext_large, deit3_large_patch16_224.fb_in22k_ft_in1k]